/* Desenvolva sua estilização aqui ... */
h1 {
    font-size: var(--font-1);
}

h2 {
    font-size: var(--font-2);
}

.filters__container h2 {
    margin: 50px 0;
}
  
.filters-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
  
.filters__range-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards__container > h2 {
    margin: 50px 0;
}
  
.cards__list {
    display: flex;
    justify-content: space-between;
    gap: 50px 0;
    flex-wrap: wrap;
  
    margin-bottom: 50px;  
}

.card {
    width: 308px;
    background-color: var(--color-grey-8);
    border-radius: var(--radius-1);
  }
  
.card > img {
    max-width: 100%;
    border-radius: var(--radius-1) var(--radius-1) 0 0;
}
  
.card > div {
    margin: 20px 0 0 16px;

    width: 50%;

    display: flex;
    align-items: center;
    gap: 20px;

}

.card > p {
    width: max-content;
    color: var(--color-grey-2);
}
  
.card > h2 {
    margin: 1rem;
}
  
.card > span {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card > span > p {
    font-weight: 600;
}

.card > span > button {
    background-color: var(--color-grey-7);
}

.card > span > button:hover {
    background-color: var(--color-grey-1);
}

input[type="range"] {
    appearance: none;
    height: 8px;
    background-color: var(--color-brand-1);
    border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 24px;
    width: 24px;
    background-color: var(--color-brand-2);
    
    border: 6px solid var(--color-brand-1);
    border-radius: 50%;
}